.root {
  * {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  }
  font-size: 14px;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
  border-radius: 0.3em;
  > ul {
    background: transparent !important;
    padding: 1.3125rem !important;
    margin: 0 !important;
    margin-bottom: 1.75rem !important;
  }
  li {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0 !important;
    line-height: 1.3rem;
    > div:first-child {
      > div:first-child {
        top: -2px;
      }
    }
  }
}

body {
  &:global(.light) {
    .root {
      background-color: rgba(0, 0, 0, 0.125);
    }
  }
  &:global(.dark) {
    .root {
      background-color: rgba(255, 255, 255, 0.09);
    }
  }
}

@media (max-width: 672px) {
  .root {
    border-radius: 0;
  }
}
