.root {
  // background: #d469ac;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // display: flex;
  padding: 40px;
  text-align: center;
}

.btn {
  @apply bg-gray-300 text-gray-900 font-bold leading-normal py-0 px-2 mb-6 border-b-4 border-gray-600 rounded;

  &:hover {
    @apply bg-gray-200 border-gray-500;
  }
}

.medal {
  width: 110px;
  position: absolute;
  top: 0;
  left: 0;
}
