.root {
  position: absolute;
  top: -0.25rem;
  // left: 0;
  // right: 0;
  // bottom: 0;
  left: -0.5rem;
  // border: 1px solid red;
  // width: auto;
  // display: flex;
  // justify-content: center;
  opacity: 0.8;
  svg {
    width: 1.5rem;
  }
}

.check,
.cross1,
.cross2 {
  animation-timing-function: ease-in;
  opacity: 0;
  fill: none;
  // stroke: #000;
  stroke: #c53030;
  stroke-width: 0.15rem;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
}

.check {
  animation: check-stroke 0.5s forwards;
  stroke: #2f855a;
  stroke-dasharray: 17;
}

@keyframes check-stroke {
  0% {
    stroke-dashoffset: 17;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.cross1 {
  animation: cross1-stroke 0.5s forwards;
  stroke-dasharray: 14.14;
}

@keyframes cross1-stroke {
  0% {
    stroke-dashoffset: 14.14;
    opacity: 1;
  }
  50%,
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.cross2 {
  animation: cross2-stroke 0.5s forwards;
  stroke-dasharray: 14.14;
}

@keyframes cross2-stroke {
  0%,
  50% {
    stroke-dashoffset: 14.14;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
