@import '../Quiz.module.scss';

.root {
  // background: #75a1b4;
  // padding: 10px;
  pointer-events: none;
  line-height: 1;
  padding: 0.5rem 0.5rem;
  margin-left: 0.5rem;
  // margin: 2rem
  // border: 4px solid transparent;
  // border-color: silver;
  // background: lightyellow;
  // border: 1px solid blue;

  .inner {
    display: inline-block;
    // background: yellow;
    border: 4px solid transparent;
    padding: 0.75rem 1rem;
    white-space: nowrap;
  }
  &.current {
    // background: lightpink;
    .inner {
      // border-color: silver;
      // border-color: rgba(0, 0, 0, 0.325);
      border-color: var(--text-color);
    }
    // border-color: silver;
  }
}

.times {
  transform: rotate(45deg);
}

.answer {
  position: relative;
  display: inline-block;
  // padding-left: 0.5rem;
  margin-left: 0.75rem;
  padding-left: 0.75rem;
  // :global(.octicon2) {
  //   // position: absolute;
  //   // display: flex;
  //   // top: 0;
  //   // left: -50px;
  //   // right: -50px;
  //   // opacity: 0.5;
  //   // color: red;
  //   // justify-content: center;
  //   // width: auto;

  //   // background: yellow;
  //   // top: 50%;
  //   // height: 0;
  //   // line-height: 0;

  //   opacity: 0.75;
  //   position: absolute;
  //   left: 0;
  //   width: auto;
  //   background: yellow;
  //   display: flex;
  //   top: 0;
  //   justify-content: center;
  //   /* align-items: center; */
  //   /* width: 200px; */

  //   color: red;
  //   left: 0;
  //   right: 0;
  //   top: 50%;
  //   line-height: 0;

  //   font-size: 4rem;
  //   padding-left: 1rem;
  //   margin-top: -0.1rem;

  //   // font-size: 5rem;
  //   // padding-left: 1.25rem;
  // }
}

.wrong {
  animation: shake 0.3s linear;
  // background: yellow;
  // animation: example 5s linear
}

@keyframes shake {
  0%,
  to {
    // -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  10%,
  50%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  30%,
  70% {
    transform: translate3d(10px, 0, 0);
  }

  // 10%,30%,50%,70%,90% {
  //     // -webkit-transform: translate3d(-10px,0,0);
  //     transform: translate3d(-10px,0,0)
  // }

  // 20%,40%,60%,80% {
  //     // -webkit-transform: translate3d(10px,0,0);
  //     transform: translate3d(10px,0,0)
  // }
}
