@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

.root {
  text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }

  .totalCount {
    // background: #292253;
    // padding: 10px;

    text {
      // font-family: 'Source Sans Pro';

      // font-family: 'Gothic A1', sans-serif;
      font-family: 'Montserrat', sans-serif;

      text-anchor: middle;
      font-weight: normal;
      // font-size:
    }
  }
  &.dark {
    text {
      fill: #ddd;
    }
  }
}
