.root {
  min-height: 400px;
  display: flex;
  justify-content: center;
}
.inner {
  position: relative;
  .sample {
    &.invisible {
      visibility: hidden;
      pointer-events: none;
    }
  }
  .gimmick {
    position: absolute;
    top: -1px;
    left: 0;
    pointer-events: none;
    :global(.cloned) {
      display: none;
    }
    &.invisible {
      display: none;
    }
    > div {
      padding: 0;
    }
  }
}

.sampleWrap {
  display: inline-block;
  h1 {
    display: inline-block;
    margin: 0;
    font-size: 5rem;
  }
}
