.root {
  display: flex;
  flex-direction: column;
  // border: 1px solid var(--border-color);
  // border-radius: 0.3em;
  // background: var(--translation-bg);
  justify-content: center;
  // margin-bottom: 1.75rem;
  // text-ali
  .gauntlet {
    width: 100%;
    justify-content: center;
    // align-items: center;
    display: flex;
  }
  .inner {
    position: relative;
    max-width: 592px;
    margin-top: -1.75rem;
    margin-bottom: -1.25rem;
    .sample {
      // padding: 0;

      button {
        display: none;
      }
      &.invisible {
        visibility: hidden;
        pointer-events: none;
      }
    }
    .gimmick {
      position: absolute;
      top: -1px;
      left: 0;
      pointer-events: none;
      :global(.cloned) {
        display: none;
      }
      &.invisible {
        display: none;
      }
    }
  }
}
