.root {
  // background: #6688CA;
  // padding: 10px;
  margin-bottom: 28px;
  position: relative;
  .box {
    position: absolute;
    right: 42px;
    bottom: 112px;
    width: 120px;
    height: 32px;
    // background: rgba(255,0,0,0.3);
    // border: 1px solid red;
    pointer-events: none;
  }
  .control {
    position: absolute;
    right: 0;
    bottom: 112px;
    font-size: 2rem;
    width: 32px;
    height: 32px;
    // opacity: 0.5;
    line-height: 0;
    .btn {
      font-size: 2rem;
      width: 32px;
      height: 32px;
    }
    :global(.ant-badge-count) {
      background-color: #fff;
      color: #999;
      box-shadow: 0 0 0 1px #d9d9d9 inset;
    }
  }
}
