body {
  // --pink: rgb(255, 167, 196);
  background-color: var(--bg);
  color: var(--textNormal);
  &:global(.light) {
    --bg: #ffffff; // --header: var(--pink);
    --textNormal: #222; // --textTitle: #222;
    // --textLink: #d23669;
    --hr: hsla(0, 0%, 0%, 0.2);
    --translation-bg: rgba(0, 0, 0, 0.09);
    // --inlineCode-bg: rgba(255, 229, 100, 0.2);
    // --inlineCode-text: #1a1a1a;
  }
  &:global(.dark) {
    -webkit-font-smoothing: antialiased;
    --bg: #282c35; // --header: #ffffff;
    --textNormal: rgba(255, 255, 255, 0.88); // --textTitle: #ffffff;
    // --textLink: var(--pink);
    --hr: hsla(0, 0%, 100%, 0.2);
    --translation-bg: rgba(255, 255, 255, 0.09);
    // --inlineCode-bg: hsl(222, 14%, 25%);
    // --inlineCode-text: #e6e6e6;
    hr {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  blockquote {
    color: inherit;
    border-left-color: inherit;
  }
  :global(.sticky) {
    position: sticky;
  }
}

.root {
  color: var(--textNormal);
  background-color: var(--bg);
  transition: color 0.35s ease-out, background-color 0.35s ease-out;
  min-height: 100vh;
  .inner {
    header {
      position: relative;
      h1,
      h2,
      h3 {
        margin-right: 50px;
      }
    }
  }
  p,
  ul,
  ol {
    code {
      // background: yellow;
      background: var(--translation-bg);
      padding: 0.2em 0.4em;
    }
  }
}

a:has(code) {
  background: yellow;
  border: 5px solid red !important;
}
