$gutter: 42px;

.row {
  $base-margin: 21px;
  $padding-left: $gutter - $base-margin;
  $padding-right: $base-margin;

  display: flex;
  flex-wrap: wrap;
  margin-left: $padding-left * -1;
  margin-right: $padding-right * -1;
  .grid {
    flex-basis: 0;
    flex-grow: 1;
    padding-left: $padding-left;
    padding-right: $padding-right;
    $base-width: 100% / 12;
    @for $i from 1 through 12 {
      &.grid_#{$i} {
        flex: 0 0 ($base-width * $i);
        max-width: 0 0 ($base-width * $i);
      }
    }
  }
}

.section,
.grid {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 1.75rem;
    }
  }
}

.anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
  box-shadow: none;
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover {
    .anchor {
      opacity: 1;
    }
  }
}
