.root {
  display: flex;
  border: 1px solid var(--hr);
  margin-bottom: 1.75rem;
  .input,
  .output {
    flex-basis: 50%;
    flex-grow: 0;
  }
  .output {
    box-shadow: -1px 0 0 0 var(--hr);
    background: var(--translation-bg);
    white-space: pre-wrap;
    @apply p-4;
  }
  textarea {
    overflow: hidden;
    border: none;
    resize: none;
    background: transparent;
    color: var(--text-normal);
    @apply p-4 w-full;
  }
}
.i1,
.i2 {
  transition: background-color 0.1s linear;
}
.root:hover {
  .i1,
  .i2 {
    @apply bg-red-200;
  }
}

:global(.dark) {
  .root:hover {
    .i1,
    .i2 {
      @apply bg-red-800;
    }
  }
}
