@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');

:global(.dark) {
  .root {
    .input {
      button {
        @apply bg-gray-600 text-gray-100 border-gray-300;
        &:hover {
          @apply bg-gray-800 border-gray-400;
        }
      }
    }
  }
}

.root {
  .input {
    button {
      display: block;
      @apply bg-gray-300 text-gray-900 leading-normal py-1 px-2 mt-6 mb-6 border-b-4 border-gray-600 rounded;
      font-size: 14px;
      &:hover {
        @apply bg-gray-200 border-gray-500;
      }
    }
  }
  textarea {
    overflow: hidden;
    resize: none;
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-normal);
    @apply p-4 w-full;
    // margin-bottom: 1.75rem;
    display: block;
  }
}
.chars {
  display: flex;
  justify-content: center;
  > li {
    display: flex;
    flex-grow: 0;
  }
}
.stage {
  display: flex;
  justify-content: center;
  > li {
    display: flex;
    flex-grow: 0;
  }
}
.showcase {
  display: flex;
  .calc {
    flex-basis: 50%;
    flex-grow: 1;
    position: relative;
    h1 {
      width: 100%;
      text-align: center;
      margin: 1.75rem 0 0;
      font-size: 3.95285rem;
      :global(.octicon-x) {
        padding-left: 8px;
        vertical-align: top;
        padding-top: 18px;
      }
    }
    .formula {
      font-family: Merriweather;
      margin: 2rem 6rem 3rem;
      text-align: center;
      border-radius: 0.3em;
      border: 1px solid var(--border-color);
      padding: 0.75em;
      background: var(--translation-bg);
      font-weight: bold;
      letter-spacing: 4px;
    }
    > div {
      position: sticky;
      top: 0;
      > div {
        display: flex;
        > div {
          flex: 1 0 0;
        }
      }
    }
  }
  .rank {
    flex-basis: 200px;
    flex-grow: 0;
    position: relative;
    margin-right: 1.75rem;
    margin-bottom: 1.75rem;
    @apply rounded-lg;
    padding: 0;
    border: 1px solid var(--border-color);
    .search {
      position: sticky;
      top: 0;
      margin-bottom: 44px;
      input {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        transition: color 0.35s ease-out, background-color 0.35s ease-out;
        background-color: var(--bg);
        border: none;
        border-bottom: 1px solid var(--border-color);
        color: var(--text-normal);
        @apply py-2 pr-4 pl-10 block w-full appearance-none  leading-normal;
      }
      .icon {
        @apply pointer-events-none absolute inset-y-0 left-0 pl-4 flex items-center;
        svg {
          @apply fill-current pointer-events-none text-gray-600 w-4 h-4;
        }
      }
    }
    ul {
      margin: 0;
      margin-top: -40px;
      li {
        margin: 4px;
        list-style: none;
        display: flex;
        .num {
          padding: 0.25rem 0;
          text-align: center;
          font-family: Merriweather;
          font-weight: bold;
          background: var(--bg);
          color: var(--textNormal);
          flex: 50px 0 0;
        }
        .name {
          display: flex;
          flex: 1 1 auto;
          align-items: center;
          background: var(--bg);
          color: var(--textNormal);
          white-space: nowrap;
          a {
            color: inherit;
            box-shadow: none;
          }
        }
        &.selected {
          .num {
            background: transparent;
            color: inherit;
          }
          .name {
            background: transparent;
            color: inherit;
          }
        }
      }
    }
  }
}
@media (max-width: 630px) {
  .showcase {
    display: block;
    .rank {
      display: none;
    }
    .calc {
      flex-basis: 100%;
      flex-grow: 1;
      .formula {
        margin-left: 0;
        margin-right: 0;
      }
      > div {
        position: sticky;
        top: 0;
        > div {
          display: block;
          > div {
            flex: 1 0 0;
          }
        }
      }
    }
  }
}
